html {
    background: #000;
}
a, .v-application a {
    text-decoration: none;
    color: #b4b4b4;
    transition: color .2s ease;
    &:hover {
        color: #fff;
    }
}
.v-application:not(.not-embedded) .v-application--wrap {
    min-height: unset !important;
}
[v-cloak] {
    display: none !important;
}
.container {
    overflow: hidden;
}
.noselect {
    user-select: none;
}
.preload {
    position: absolute;
    left: -9999px;
    top: -9999px;
}
.component-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}