a, .v-application a {
    text-decoration: none;
    color: #b4b4b4;
    transition: color .2s ease;
    &:hover {
        color: #fff;
    }
}

.v-application--wrap {
    min-height: unset !important;
}