.filter {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #4a4a4a;
    border-radius: 3px;
    user-select: none;
    background: rgba(255, 255, 255, 0.05);

    .name {
        padding: 2px 7px;
        text-align: center;
        background: rgba(255, 255, 255, 0.05);
        border-bottom: solid 1px #4a4a4a;
        cursor: pointer;
    }

    &.disabled {
        transition: opacity 0.1s;
        opacity: 0.4;
        &:hover {
            opacity: 0.6;
        }
    }
}