.map-container {
    height: 100%;
    align-items: center;
    display: flex;
    background: #000;
}
.map {
    position: relative;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        max-height: 100%;
        max-width: 100%;
    }
}
.boxes {
    position: absolute;
    width: 100%;
    height: 100%;
}
.box {
    position: absolute;
    background: rgba(194, 10, 10, 0.4);
    &:nth-child(1){
        background: rgba(23, 202, 32, 0.4);
    }
}