.v-slide-group__content {
    justify-content: center !important;
}

.v-pagination__item--active {
    background: #eee !important;
    color: #000 !important;
}

.v-application.theme--dark .v-chip, .v-application .theme--dark.v-chip{
    &--active {
        background: rgba(255, 255, 255, 0.9);
        color: #000;
    }
    &:not(.v-chip--active) {
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.4);
    }
    &:before {
        all: initial;
    }
}

.v-slider {
    margin-top: -13px !important;
    min-height: 47px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.v-slider__thumb-label.primary {
    background-color: transparent !important;
    transform: none !important;
    border-radius: 0 !important;
    top: 0  !important;
    transform: translateX(-50%) !important;
    margin-bottom: 7px  !important;
    > * {
        transform: none !important;
    }
}