.v-slide-group__content {
    justify-content: center !important;
}

.v-pagination__item--active {
    background: #eee !important;
    color: #000 !important;
}

.v-application.theme--dark .v-chip, .v-application .theme--dark.v-chip{
    &--active {
        background: rgba(255, 255, 255, 0.9);
        color: #000;
    }
    &:not(.v-chip--active) {
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.4);
    }
    &:before {
        all: initial;
    }
}

.v-slider {
    margin-top: -13px !important;
    min-height: 47px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.v-slider__thumb-label.primary {
    background-color: transparent !important;
    transform: none !important;
    border-radius: 0 !important;
    top: 0  !important;
    transform: translateX(-50%) !important;
    margin-bottom: 7px  !important;
    > * {
        transform: none !important;
    }
}

.text-filter {
    .v-text-field__details{
        display: none !important;
    }
    input[type=text] {
        width: 80px !important;
    }
    .v-text-field > .v-input__control > .v-input__slot:before {
        border-width: 0 !important;
    }
    .v-chip--active {
        background: rgba(255, 255, 255, 0.1) !important;
        color: rgba(255, 255, 255, 0.4) !important;
    }
    .v-chip__content {
        color: #fff !important;
    }
}
.v-list-item__avatar {
    width: initial !important;
    min-width: initial !important;
    max-width: 16px !important;
    height: 12px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
.v-list-item__content {
    padding: 0 !important;
}
.v-list-item {
    min-height: 30px !important;
}

.date-filter {
    .v-text-field__details {
        display: none !important;
    }
    .v-input__slot {
        margin-bottom: 0 !important;
    }
    .v-text-field > .v-input__control > .v-input__slot:before {
        border-width: 0 !important;
    }
    .v-label {
        display: none !important;
    }
    .v-text-field {
        padding-top: 0 !important;
        margin-top: 0 !important;
        padding-top: 3px !important;
    }
    input {
        cursor: pointer !important;
    }
}

.v-menu__content .v-date-picker-table .v-btn.v-btn--active {
    color: #111 !important;
    &:before {
        opacity: 0 !important;
    }
}

.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after {
    display: none !important;
}

.v-icon.small {
    font-size: 16px !important;
    margin-bottom: 2px !important;
}